*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(37, 1, 108);
    color: azure;
    height: 6rem;
    line-height: 6rem;
}

.choice{
    height: 175px;
    width: 175px;
}

.choice:hover{
    opacity: 0.6;
    cursor: pointer;
}

img{
    height: 150px;
    object-fit: cover;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    gap: 35px;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 4rem;
    margin-top: 1.2rem;
}

#user-score, #computer-score{
    font-size: 3rem;
}

.msg-container{
    background-color: rgb(3, 19, 52);
    color: azure;
    font-size: 1.5rem;
    margin-top: 4rem;
    display: inline-block;
    padding: 1.1rem;
    border-radius: 1.1rem;
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
        height: 4rem;
        line-height: 4rem;
    }

    .choice {
        height: 140px;
        width: 140px;
    }

    .choices {
        gap: 25px;
        height: 50vh;
        flex-wrap: wrap;
    }
    img{
        object-fit: cover;
        height: 120px;
        width: 120px;
    };

    .score-board {
        font-size: 1.2rem;
        gap: 1.5rem;
    }

    #user-score,
    #computer-score {
        font-size: 2rem;
    }

    .msg-container {
        font-size: 1rem;
        padding: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
        line-height: 3.5rem;
        height: 3.5rem;
    }

    .choice {
        height: 120px;
        width: 120px;
    }

    img {
        /* border-width: 1px; */
        object-fit: cover;
    }

    .choices {
        gap: 7px;
        min-height: 50vh;
        flex-wrap: wrap;
    }

    .score-board {
        flex-direction: column;
        font-size: 1rem;
        gap: 1rem;
    }

    #user-score,
    #computer-score {
        font-size: 1.5rem;
    }

    .msg-container {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}
